<div id = "panel">
	<ul id = "spanel">
		<li class="elemPanel"><a href="/">Головна</a></li>
		<li class="elemPanel"><a href="/services">Вибір послуг</a></li>
		<li class="elemPanel"><a href="/news">Новини</a></li>
		<li class="elemPanel"><a href="/delivery">Доставка та оплата</a></li>
		<li class="elemPanel"><a href="/contacts">Контакти</a></li>
		
		{{ifUser user}}
		
	</ul>
</div>
<img src="http://localhost/images/gerb.png" id = "gerb"/>

<button onclick="topFunction()" id="myBtn"></button>
