<!DOCTYPE html>
<html>
<head>

{{> headers}}

</head>	

<body>
	{{> menuAndOther}}
	
	<div class="main" id="mainP">
		<div class = "infPanel">
			Історія {{historyTitle}}
		</div>
		 <span class="_block"></span>


 
		 <div id="historyBlock">

		 	{{getOrders orders}}
		 </div>
	</div>
	


	{{>footer}}

</body>
</html>