<!DOCTYPE html>
<html>
<head>

{{> headers}}

</head>	

<body>
	{{> menuAndOther}}
	
	<div class="main" id="mainP">
		<div class = "infPanel">
			Про нас
		</div>
		<div class = "mainPart">
			<p id="txtWriter"></p>
			<p>
				У нас на сайті Ви зможете знайти усі види послуг, доступних у Львові, для себе, для друзів чи рідних у подарунок!
			</p>
				
			<dl id = "list">
				<dt>
					Види послуг: 
				</dt>
				<dd>
					Організація свята.
				</dd>
				<dd>
					Краса та здоров'я.
				</dd>
				<dd>
					Для дітей.
				</dd>
				<dd>
					По дому.
				</dd>
				<dd>
					Стиль.
				</dd>
				<br/>
			</dl>
		</div>
	</div>
	
	{{>footer}}

</body>
</html>