<!DOCTYPE html>
<html>
<head>

{{> headers}}

</head>	

<body>
	{{> menuAndOther}}
	
	<div class="main" id="mainP">
		<div class = "infPanel">
			Новини
			<span class="_block"></span>
		</div>
	
	<div id="newsContainer">

		{{getNews news}}
		<!-- <div class="newsBlock">
			<h3>Title<h3>
			<img src="http://localhost/images/error-404.png"/>
			<p>
				блаблаабфіладфі фідла одфлі далфоідав фдліоа фділоадофі даоіоа ілоа
				блаблаабфіладфі фідла одфлі далфоідав фдліоа фділоадофі даоіоа ілоа
				блаблаабфіладфі фідла одфлі далфоідав фдліоа фділоадофі даоіоа ілоа
			</p>
		</div> -->
	</div>


	</div>
	
	{{>footer}}

</body>
</html>